<div class="jumbotron"> 
    <div class="container display-flex">
	    <img src="./assets/images/burger.png">
        <h1>Burger Builder</h1>
    </div>
</div>
<br>
<div class="container">
<form class="create-update-form" action="/burgers/" method="POST">
    <div class="form-group">
        <label for="burger">Welcome, denizen, what kind of burger will you have?</label>
        <input type="text" name="burger_name" id="burger">
        <button class="btn btn-default btn-lg" type="submit" id ="newBurger">Place my order</button>
    </div>
</form>
<br>
<div class="container col-12">
        <div class="col-6">
            <h2>Burgers Ready</h2>
            <div class="toEat">
                {{#each burgers}}
                        {{#unless this.devoured}}
                            <a href=""><img class="devour" src="./assets/images/burger.png" alt="" data-id="{{this.id}}.{{this.burger_name}}"></a>
                            <span>{{this.burger_name}}</span>
                            <span class="input-group-btn">
                                <form class="devour-form">
                                    <input class="devour-input" input type="hidden" type="text" value={{this.id}}>
									<button class="devour-button btn btn-default btn-lg" type="submit">NOM</button>
                                </form>
                            </span>
                        {{/unless}}
                {{/each}}
            </div>
        </div>

        <div class="col-6">
            <h2>Burgers Eaten</h2>
            {{#each burgers}}
                    {{#if this.devoured}}
                     <div>
                         {{this.burger_name}}
                    </div>
                    {{/if}}
            {{/each}}
        </div>
</div>
</div>